/* Toàn trang */
.root {
    -fx-font-family: "Segoe UI", "Arial";
}

/* --- SIDEBAR --- */
.sidebar {
    -fx-background-color: #1E56A0;
    -fx-padding: 20;
    -fx-pref-width: 220;
    -fx-min-height: 100%;
}

.sidebar-title {
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 20 0;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
     -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 20 10 10;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.sidebar-button:hover {
    -fx-background-color: #163E73;
}

/* --- PHẦN TRUNG TÂM --- */
.main-content {
    -fx-background-color: #F9FAFB;
    -fx-alignment: CENTER;
}

.main-text {
    -fx-text-fill: #777;
    -fx-font-size: 18px;
}
